ðŸŽ“ Capstone Group Project: E-Commerce Sales Analytics

Project Overview
This capstone project serves as the culmination of your learning journey in Statistics for Data Analytics. You will apply the complete range of statistical and analytical techniques covered in this course to a real-world e-commerce dataset.

The objective is to replicate the end-to-end workflow of a professional data analyst:

Clean and prepare messy business data.
Apply descriptive and inferential statistical techniques.
Build predictive models using regression and time-series methods.
Derive meaningful business insights and recommendations.
You will complete the project using Python and submit your work via Git/GitHub. At the end, you will not only demonstrate mastery of statistical concepts but also showcase your skills in reproducible analytics and professional reporting.

Dataset Description
The dataset (please find the dataset named â€œsynthetic_retail_data.csvâ€ from the portal) contains approximately 9,500 e-commerce transactions recorded during 2023. Each record represents a customer purchase and includes details on products, pricing, discounts, customer demographics, marketing channels, and purchasing behavior.

Key Variables

InvoiceNo â€“ Unique transaction identifier
CustomerID â€“ Unique customer identifier
Date â€“ Date of purchase (2023)
ProductCategory â€“ Electronics, Clothing, Home, Beauty, Sports, Toys
Quantity â€“ Number of items purchased
UnitPrice â€“ Price per item ($)
DiscountApplied â€“ Discount percentage (0â€“55%)
ReviewRating â€“ Customer rating (1â€“5 stars, some missing values)
IsFirstPurchase â€“ Indicator for new vs. returning customers
MarketingChannel â€“ Source of acquisition (Email, Organic, Referral, Ads, Social)
Country â€“ Customer country (USA, UK, Germany, France, Canada, Australia)
TimeOnSite â€“ Time spent on the website before purchase (seconds, some missing values)
ShippingCost â€“ Shipping fee ($)
ItemsInCart â€“ Items added to cart
PreviousSpending â€“ Historical customer spending ($)
BrowsingSessions â€“ Website visits prior to purchase
TotalAmount â€“ Final transaction value including shipping ($)
Notable Characteristics

Seasonal patterns in sales (peaks in May, July, November, and December).
Category differences in pricing and popularity.
Presence of missing values in ReviewRating and TimeOnSite.
Approximately 2% of transactions contain extreme outliers in Quantity or UnitPrice.
 

Project Requirements
Data Preparation
Import and examine the dataset.
Identify missing values and apply appropriate treatment.
Detect and address outliers in dataset.
Prepare data for analysis and modeling.
Descriptive Statistics & Exploratory Analysis
Compute summary statistics (mean, median, mode, variance, standard deviation, IQR).
Generate distribution plots (histograms, boxplots, scatterplots).
Create pivot-style summaries (e.g., revenue by product category, revenue by country).
Probability & Hypothesis Testing
Estimate key probabilities (e.g., likelihood of 5-star review, probability of order value > $1,000).
Conduct hypothesis tests:
Two-Sample t-test: Compare mean spending between first-time and returning customers.
ANOVA: Test whether average spending differs across countries.
Chi-square test: Assess association between marketing channel and customer review ratings.
Confidence Intervals
Construct a 95% confidence interval for average daily revenue.
Construct a 95% confidence interval for average customer review rating.
Correlation & Regression Analysis
Create a correlation matrix of numeric variables.
Fit a multiple linear regression model to predict TotalAmount using predictors from the dataset.
Interpret coefficients and identify the strongest drivers of revenue.
Time Series Analysis
Construct a time series of daily or monthly sales.
Apply moving averages and exponential smoothing to forecast future sales.
Identify seasonal peaks and business trends.
 

Deliverables
You are required to submit a complete project via GitHub containing by October 11, 2025:

Jupyter Notebook / Python Scripts
Clean, well-documented code.
Logical structure aligned with project requirements.
README.md File
Project overview.
Dataset description.
Methods applied.
Summary of findings and key business insights.
Interpretive Commentary or Report (within the external Microsoft word document)
Explanations of results.
Business implications.
 

Grading Rubric
Correctness of Analysis â€“ 16%
Code Quality & GitHub Submission â€“ 8%
Interpretation of Results â€“ 10%
Clarity of Documentation & Presentation â€“ 6%
 

Instructorâ€™s Note
Upon submission, we will conduct a live session demonstrating the same analyses step-by-step in Excel. This session will allow you to cross-validate your Python results, strengthen your conceptual understanding, and focus on translating statistical findings into actionable business recommendations.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('synthetic_retail_data.csv')
data.head()

,InvoiceNo,CustomerID,Date,ProductCategory,Quantity,UnitPrice,DiscountApplied,ReviewRating,IsFirstPurchase,MarketingChannel,...,ItemsInCart,PreviousSpending,BrowsingSessions,TotalAmount,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,INV105646,CUST1810,1/1/2023,Home,7,67.88,44.6,4.0,0,Organic,...,7,186.55,3,270.08,NaN,218.92136,NaN,475.16,211.92136,270.08
1,INV105099,CUST1530,1/1/2023,Toys,6,24.22,0.0,2.0,1,Social,...,8,0.00,3,155.16,NaN,8.00000,NaN,145.32,0.00000,155.16
2,INV102818,CUST1701,1/1/2023,Electronics,6,158.78,25.9,5.0,1,Email,...,6,0.00,3,719.29,NaN,252.74412,NaN,952.68,246.74412,719.29
3,INV107351,CUST1323,1/1/2023,Electronics,5,102.23,39.0,3.0,1,Social,...,6,0.00,5,324.19,NaN,205.34850,NaN,511.15,199.34850,324.19
4,INV108415,CUST1406,1/1/2023,Electronics,8,62.32,26.7,4.0,0,Email,...,8,371.94,4,387.06,NaN,141.11552,NaN,498.56,133.11552,387.06

In [3]:
print("\nMissing values per column:")
print(data.isnull().sum())

print("\nMissing values:")
print(data.isnull().values.any())

Missing values per column:
InvoiceNo              0
CustomerID             0
Date                   0
ProductCategory        0
Quantity               0
UnitPrice              0
DiscountApplied        0
ReviewRating        1665
IsFirstPurchase        0
MarketingChannel     472
Country                0
TimeOnSite           475
ShippingCost           0
ItemsInCart            0
PreviousSpending       0
BrowsingSessions       0
TotalAmount            0
Unnamed: 17         9500
Unnamed: 18         8271
Unnamed: 19         9500
Unnamed: 20         8271
Unnamed: 21         8271
Unnamed: 22         8271
dtype: int64

Missing values:
True

In [6]:
columns_drop = ["Unnamed: 17", "Unnamed: 18", "Unnamed: 19", "Unnamed: 20", "Unnamed: 21", "Unnamed: 22"]
data_cleaned = data.drop(columns= columns_drop)
data_cleaned.head()

,InvoiceNo,CustomerID,Date,ProductCategory,Quantity,UnitPrice,DiscountApplied,ReviewRating,IsFirstPurchase,MarketingChannel,Country,TimeOnSite,ShippingCost,ItemsInCart,PreviousSpending,BrowsingSessions,TotalAmount
0,INV105646,CUST1810,1/1/2023,Home,7,67.88,44.6,4.0,0,Organic,USA,273.8,6.84,7,186.55,3,270.08
1,INV105099,CUST1530,1/1/2023,Toys,6,24.22,0.0,2.0,1,Social,USA,401.0,9.84,8,0.00,3,155.16
2,INV102818,CUST1701,1/1/2023,Electronics,6,158.78,25.9,5.0,1,Email,Germany,324.2,13.35,6,0.00,3,719.29
3,INV107351,CUST1323,1/1/2023,Electronics,5,102.23,39.0,3.0,1,Social,Australia,381.3,12.39,6,0.00,5,324.19
4,INV108415,CUST1406,1/1/2023,Electronics,8,62.32,26.7,4.0,0,Email,UK,206.5,21.62,8,371.94,4,387.06

In [8]:
print("\nMissing values per column:")
print(data_cleaned.isnull().sum())

print("\nMissing values:")
print(data_cleaned.isnull().values.any())

Missing values per column:
InvoiceNo              0
CustomerID             0
Date                   0
ProductCategory        0
Quantity               0
UnitPrice              0
DiscountApplied        0
ReviewRating        1665
IsFirstPurchase        0
MarketingChannel     472
Country                0
TimeOnSite           475
ShippingCost           0
ItemsInCart            0
PreviousSpending       0
BrowsingSessions       0
TotalAmount            0
dtype: int64

Missing values:
True

In [12]:
review_rating_count = data_cleaned['ReviewRating'].value_counts(dropna=False)
print("\nMissing values in 'ReviewRating' column:")
print(review_rating_count)

Missing values in 'ReviewRating' column:
ReviewRating
4.0    3048
3.0    2205
NaN    1665
5.0    1245
2.0     907
1.0     430
Name: count, dtype: int64

In [15]:
data_cleaned['ReviewRating'].fillna(data_cleaned['ReviewRating'].mode()[0], inplace=True)
print(data_cleaned['ReviewRating'].value_counts(dropna=False))

ReviewRating
4.0    4713
3.0    2205
5.0    1245
2.0     907
1.0     430
Name: count, dtype: int64

C:\Users\Leul\AppData\Local\Temp\ipykernel_1332\3321287511.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_cleaned['ReviewRating'].fillna(data_cleaned['ReviewRating'].mode()[0], inplace=True)

In [16]:
TimeOnSite_value_count = data_cleaned['TimeOnSite'].value_counts(dropna=False)
print("\nMissing values in 'TimeOnSite' column:")
print(TimeOnSite_value_count)

Missing values in 'TimeOnSite' column:
TimeOnSite
NaN      475
30.0     116
332.7     10
380.0      9
309.0      9
        ...
423.6      1
145.8      1
526.2      1
499.1      1
313.1      1
Name: count, Length: 3922, dtype: int64

In [19]:
MarketingChannel_value_count = data_cleaned['MarketingChannel'].value_counts(dropna=False)
print("\nMissing values in 'MarketingChannel' column:")
print(MarketingChannel_value_count)

Missing values in 'MarketingChannel' column:
MarketingChannel
Email       2768
Organic     2349
Ads         1544
Referral    1401
Social       966
NaN          472
Name: count, dtype: int64

In [20]:
MarketingChannel_mode = data_cleaned['MarketingChannel'].mode()[0]
print(f"\nMode of 'MarketingChannel': {MarketingChannel_mode}")
data_cleaned['MarketingChannel'].fillna(data_cleaned['MarketingChannel'].mode()[0], inplace=True)
print(data_cleaned['MarketingChannel'].value_counts(dropna=False))

Mode of 'MarketingChannel': Email
MarketingChannel
Email       3240
Organic     2349
Ads         1544
Referral    1401
Social       966
Name: count, dtype: int64

C:\Users\Leul\AppData\Local\Temp\ipykernel_1332\3840832854.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_cleaned['MarketingChannel'].fillna(data_cleaned['MarketingChannel'].mode()[0], inplace=True)

In [18]:
TimeOnSite_mean = data_cleaned['TimeOnSite'].mean()
print(f"\nMean of 'TimeOnSite': {TimeOnSite_mean}")
data_cleaned['TimeOnSite'].fillna(TimeOnSite_mean, inplace=True)
print(data_cleaned['TimeOnSite'].value_counts(dropna=False))

Mean of 'TimeOnSite': 299.56787811634354
TimeOnSite
299.567878    475
30.000000     116
332.700000     10
380.000000      9
309.000000      9
             ...
423.600000      1
145.800000      1
526.200000      1
499.100000      1
313.100000      1
Name: count, Length: 3922, dtype: int64

C:\Users\Leul\AppData\Local\Temp\ipykernel_1332\1132779194.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_cleaned['TimeOnSite'].fillna(TimeOnSite_mean, inplace=True)

In [21]:
print("\nMissing values per column:")
print(data_cleaned.isnull().sum())

print("\nMissing values:")
print(data_cleaned.isnull().values.any())

Missing values per column:
InvoiceNo           0
CustomerID          0
Date                0
ProductCategory     0
Quantity            0
UnitPrice           0
DiscountApplied     0
ReviewRating        0
IsFirstPurchase     0
MarketingChannel    0
Country             0
TimeOnSite          0
ShippingCost        0
ItemsInCart         0
PreviousSpending    0
BrowsingSessions    0
TotalAmount         0
dtype: int64

Missing values:
False

In [29]:
#detecting outliers using interquartile range (IQR) method
Q1 = data_cleaned[['TimeOnSite', 'ShippingCost', 'Quantity', 'UnitPrice']].quantile(0.25)
Q3 = data_cleaned[['TimeOnSite', 'ShippingCost', 'Quantity', 'UnitPrice']].quantile(0.75)
IQR = Q3 - Q1
print("\nIQR values:")
print(IQR)
outliers = ((data_cleaned[['TimeOnSite', 'ShippingCost', 'Quantity', 'UnitPrice']] < (Q1 - 1.5 * IQR)) | (data_cleaned[['TimeOnSite', 'ShippingCost', 'Quantity', 'UnitPrice']] > (Q3 + 1.5 * IQR)))
print("\nOutliers detected:")
print(outliers.sum())

IQR values:
TimeOnSite      150.7000
ShippingCost      6.6825
Quantity          5.0000
UnitPrice        42.3100
dtype: float64

Outliers detected:
TimeOnSite       60
ShippingCost     33
Quantity        217
UnitPrice       525
dtype: int64